.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  font-family: Arial, Helvetica;
  background: #E6EDF0;
}
.menu{

  list-style: none;
  padding: 0;
  background: #434647;
  margin: auto;
  width: 100%;
  text-align: center;
}

.menu li a{

  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  margin: 0 0.5rem;
}

/*Acomodar la lista en linea*/
.menu li{
  display: inline-block;
  font-size: 13px;
}
/*Cambiar de color cuando el cursor este encima*/
.menu li a:hover{
  background: #79879E;
}